# Node modules
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/dist
/build
/out
/.expo
.expo-shared

# React Native
/android
/ios
*.keystore
*.hprof
*.iml
.gradle
.cxx
.local
*.swp

# VSCode
.vscode/
.history/
*.code-workspace

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# npm
package-lock.json
yarn.lock
pnpm-lock.yaml

# MongoDB
/dump
/data
*.bson
*.json

# Others
coverage
*.tgz
.idea/
*.bak
*.tmp
*.old
src/scripts/seedSuperAdmin.js
